* {
  padding: 0;
  margin: 0;
}

body {
  background: #232323;
}

.calc_frame {
  position: relative;
  margin: auto;
  transform: translateY(calc(50vh - 50%));
  width: 300px;
  background: #dcdcdc;
  border: #ffffff 2px outset;
  border-radius: 2em;
  padding: 20px;
}

.screen {
  margin: auto;
  width: 100%;
  height: 60px;
  background: #333;
  border-radius: 1em;
  color: gold;
}

.screen div {
  margin: 20px 10px;
  padding: 10px;
  overflow-x: scroll;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.digit {
  grid-column: 1/7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.digit div {
  padding: 4px;
  background: #555;
  border: #aaa 1px outset;
  border-radius: 0.5em;
  box-shadow: black 1px 1px 5px;
}

.digit div:hover {
  border: unset;
  box-shadow: unset;
}

#zero {
  grid-column: 2/3;
}

.op {
  grid-column: 7/11;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  grid-gap: 1em;
}

.op div {
  font-size: 200%;
  padding: 20px 5px;
  background: #2c71f1;
  border-radius: 0.25em;
  box-shadow: #15459c 1px 1px 5px;
}

.op div:hover {
  box-shadow: unset;
}

#clear {
  grid-column: 1/6;
  background: #c20d0d;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: #a00404 1px 1px 5px;
}

#clear:hover {
  box-shadow: unset;
}

#calculate {
  grid-column: 6/11;
  background: #49cf20;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: #2eaa09 1px 1px 5px;
}

#calculate:hover {
  box-shadow: unset;
}

#clear, #calculate {
  font-size: 1.4em;
  font-weight: bold;
}
